body {
  background-color: #f0f0f0;
}

img {
  height: 350px;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

/* header */

.header-bg-wrapper {
  width: 100%;
}

.purple-bg {
  background-color: #562b81;
}

.text-white {
  color: white;
}

.m-0 {
  margin: 0;
}

.ptb-half-rem {
  padding: 0.5rem 0;
}

/* form */
label,
input {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0.5rem 0;
  font-weight: bold;
}

input {
  border: 1px solid #d5d5d5;
  border-radius: 3px;
}
