/* Page-wide CSS */

body {
  background-color: #f0f0f0;
  font-family: Helvetica, Arial, sans-serif;
}

h2 {
  font-weight: normal;
  font-size: 1.25rem;
}

img {
  height: 300px;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 1rem;
}

button:hover {
  cursor: pointer;
  color: lightgray;
}

button:active {
  transform: translateY(0.1rem);
}

a {
  text-decoration: none;
  color: white;
}

a:active {
  color: lightgray;
}

/* Add Entries Section */

label {
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

input,
textarea {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1rem;
  padding: 0.5rem;
  border: 1px solid #d5d5d5;
  border-radius: 3px;
  margin-bottom: 1.25rem;
}

textarea {
  resize: none;
  line-height: 1.5rem;
}

input:focus,
textarea:focus {
  outline-color: #562b81;
}

.submit-btn {
  border: 2px solid #562b81;
  border-radius: 5px;
  padding: 0.5rem 0.75rem;
  order: 2;
}

/* View Entries Section */

ul {
  list-style: none;
  padding-left: 0;
}

button.new-entry {
  border: 1px solid #562b81;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: bold;
}

.entry-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 1rem;
}

.entry-description {
  font-size: 1rem;
  line-height: 1.5;
}

/* Delete Entries Section */
.link-btn {
  background: none;
  border: none;
  padding: 0;
  order: 1;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgb(0 0 0 / 80%);
}

.modal-content {
  background-color: white;
  margin: 20% auto;
  padding: 20px;
  border: 1px solid black;
  border-radius: 5px;
  width: 450px;
  text-align: center;
}

.close-modal,
.confirm-modal {
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.25rem;
  font-weight: bold;
  box-shadow: 0 5px 15px lightgray;
}

.close-modal {
  color: black;
  background-color: lightgray;
  border: 1px solid lightgray;
}

.close-modal:hover {
  color: red;
}

.confirm-modal {
  color: white;
  background-color: red;
  border: 1px solid red;
}

.confirm-modal:hover {
  color: black;
}

/* Functional CSS Classes */

.purple-bg {
  background-color: #562b81;
}

.text-white {
  color: white;
}

.m-0 {
  margin: 0;
}

.mb-half-rem {
  margin-bottom: 0.5rem;
}

.mb-1-rem {
  margin-bottom: 1rem;
}

.ml-2-rem {
  margin-left: 2rem;
}

.ptb-half-rem {
  padding: 0.75rem 0;
}

.width-100 {
  width: 100%;
}

.justify-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: end;
}

.justify-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.align-center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}
